@{
    ViewBag.Title = "Home made Foods";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/HomeMadeFood.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Styles/_Layout.css" rel="stylesheet" />
    <title></title>
</head>
<body>

<div id="main-search" class="content-dark hidden-sm hidden-xs">
    <div class="container">

        <div class="main-search-fields">
            <p class="search-label term">Search Term: </p>
            <div class="row">
                <input class="search-input" name="keyword" autocomplete="off" type="search">
                <input class="submit-btn" name="submit_button" type="submit" value="SEARCH">
            </div>
            <div class="row">
                <div class="selects-container">
                    <p> Genre: </p>
                    <select class="selects" name="genre">
                        <option Value="all">All</option>
                        <option Value="action">Action</option>
                        <option Value="adventure">Adventure</option>
                        <option Value="animation">Animation</option>
                        <option Value="biography">Biography</option>
                        <option Value="comedy">Comedy</option>
                        <option Value="crime">Crime</option>
                        <option Value="documentary">Documentary</option>
                        <option Value="drama">Drama</option>
                        <option Value="family">Family</option>
                        <option Value="fantasy">Fantasy</option>
                        <option Value="film-noir">Film-Noir</option>
                        <option Value="history">History</option>
                        <option Value="horror">Horror</option>
                        <option Value="musical">Musical</option>
                        <option Value="mystery">Mystery</option>
                        <option Value="romance">Romance</option>
                        <option Value="sci-fic">Sci-Fic</option>
                        <option Value="thriller">Thriller</option>
                        <option Value="war">War</option>
                        <option Value="western">Western</option>


                    </select>
                </div>


            </div>
        </div>

    </div>
</div>



















<div class="section">
    <div class="row">

        <div class="col-md-6 col-sm-4" id="leafd">
            <div class="image-holder " id="thumbnail">
                <img src="~/Images/MuttonRezala.jpg" />
            </div>
        </div>

        <div class="col-md-6 col-sm-6" id="leaf">

            <div class="text-holder">
                <h2 class="title">Mutton Rezala</h2>
                <h3 id="chef-name">Dil ara pervin</h3>
                <div id="firstDiv">
                    <div id="left">Price</div>
                    <div id="right">250tk</div>
                </div>

                <div>
                    <div id="lefta">Availability</div>
                    <div id="righta">22 August</div>
                </div>

            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-md-6 col-sm-6" id="leaf">

            <div class="text-holder">
                <h2 class="title">Thai Soup</h2>
                <h3 id="chef-name">Nasrin lamia</h3>
                <div id="firstDiv">
                    <div id="left">Price</div>
                    <div id="right">200tk</div>
                </div>

                <div>
                    <div id="lefta">Availability</div>
                    <div id="righta">7 March</div>
                </div>

            </div>
        </div>
        <div class="col-md-6 col-sm-6" id="leafd">
            <div class="image-holder " id="thumbnail">
                <img src="~/Images/ThaiSoup.jpg" />

            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 col-sm-6" id="leafd">
            <div class="image-holder " id="thumbnail">
                <img src="~/Images/sanwich1.jpg" />

            </div>
        </div>
        <div class="col-md-6 col-sm-6" id="leaf">

            <div class="text-holder">
                <h2 class="title">Sandwich</h2>
                <h3 id="chef-name">Fatema Akhter</h3>
                <div id="firstDiv">
                    <div id="left">Price</div>
                    <div id="right">250tk</div>
                </div>

                <div>
                    <div id="lefta">Availability</div>
                    <div id="righta">12 april</div>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
    </html>
