footer {
    color: #d08237;
    background: #000;
}

.fusion-footer-widget-area{
    min-height:300px;
    width:100%;
    background:#130f0f;
}
.fusion-footer-widget-area {
    color: #d08237;
}

body {
}
